<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        #study{
            border: 3px dashed red;
            
        }
        #diet{
            border: 3px dashed green;
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <div id="study">
        <p>행복하고 즐거워요</p>
        <p>HTML 공부</p>
    </div>
    <div id="diet">
        <p>슬프고 힘들어요</p>
        <p>적게먹고 운동하는 다이어트</p>
    </div>
</body>
</html>